html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.wrap {
	height: 100%;
	width: 100%;
	/*the position relative and overflow hidden avoid scrollbars*/
	position: relative;
	overflow: hidden;
	background: #120103;
	color: #FFF;
	text-align: center;
}

.slide {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	/*Push the slides to the side of the window*/
	left: 100%;
	z-index: 10;
	padding: 8em 1em 0;
	background-color: #120103;
	/*to center*/
	background-position: 50% 50%;
	background-size: cover;
}

/*Select any input that has an id that starts with slide*/
[id^="slide"]:checked + .slide {
	left: 0;
	/*make sure this slide is on top of the previous one*/
	z-index: 100;
}

.slide-1 { background-image: url('../images/slide1.jpg'); }
.slide-2 { background-image: url('../images/slide2.jpg'); }
.slide-3 { background-image: url('../images/slide3.jpg'); }
.slide-4 { background-image: url('../images/slide4.jpg'); }

header {
	background: #3E474F;
	box-shadow: 0 .5em 1em #111;
	position: absolute;
	top: 0;
	left: 0;
	/*To make sure it's on the top of the rest of the content*/
	z-index: 900;
	width: 100%;
}

header label {
	color: #788188;
	/*to look like a link*/
	cursor: pointer;
	/*The labels will be side by side and centered in the middle of the header. Also allows the line-height to be respected*/
	display: inline-block;
	/*To have a bigger clickable area*/
	line-height: 4.24em;
	font-size: .667em;
	font-weight: bold;
	padding: 0 1em;
}

header label:hover {
	background: #2e353b;
}